{
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"jsxBracketSameLine": false,
	"arrowParens": "always"
}
